.Rproj.user
.Rhistory
.RData
.Ruserdata
Archive/

.RDataTmp

.RDataTmp1

hpwaterLevels/CR_HP_Water_20221102.csv

hpwaterLevels/CR_HP_Water_20230727_Apr4Cal.csv

hpwaterLevels/CR_HP_Water_20230727.xlsx

hpwaterLevels/CR_HP_Water_20231018_Aug29Cal.csv

hpwaterLevels/CR_HP_Water_20231018_Jul27Cal.csv

hpwaterLevels/CR_HP_Water_20231018_Oct3Cal.csv

hpwaterLevels/CR_HP_Water_20231018_Sep19Cal.csv

hpwaterLevels/CR_HP_Water_20231018.xlsx

hpwaterLevels/CR_HP_Water_20240402_Nov28Cal.csv

hpwaterLevels/CR_HP_Water_20240402_Oct18Cal.csv

hpwaterLevels/CR_HP_Water_20240402_Oct31Cal.csv

hpwaterLevels/CR_HP_Water_20240402.xlsx

hpwaterLevels/CR_HP_Water_20241108_May14Cal.csv

hpwaterLevels/CR_HP_Water_20250401_Apr1Cal.csv

hpwaterLevels/CR_HP_Water_20250401_Mar11Cal.csv

hpwaterLevels/CR_HP_Water_20250401_Nov8Cal.csv

hpwaterLevels/CR_HP_Water_20250401.xlsx

hpwaterLevels/CR_HP_Water_20251103_May5Cal.csv

hpwaterLevels/CR_HP_Water_20251103_Sept3Cal.csv

hpwaterLevels/CR_HP_Water_20251103.csv

hpwaterLevels/CR_HP_Water_20251103.xlsx

hpwaterLevels/CR_HP_WaterLevel_20210406.csv

hpwaterLevels/CR_HP_WaterLevel_20211109.csv

hpwaterLevels/CR_HP_WaterLevel_20220421.csv
.positai

data/flatFilesforApp/CombinedData_df_list.rds
